{% extends 'base.html' %}

{% block head %} About {% endblock %}

{% block body %} 
    <main role="main">
        <h2>About</h2>
        <p>Our mission is to provide a novel artistic painting tool that allows people to convert their images into their favourite artist's artwork with just a few clicks. 
            All you need to do is upload a photo and an art.
            We apply an algorithm developed by Leon Gatys, Alexander Ecker and Matthias Bethge.</p>
    </main>
    <h4>Neural Style Transfer</h4>
    <p>We use neural style transfer algorithm to create an image which simultaneously matches the content representation of the photograph and the style representation of the artwork. 
        The artificial neural system seperates image content from style, thus allowing to recast the content of one image in the style of any other image. 
        This web app displays a beautiful example of how neural representations can independently capture the content of an image and the style in which it is represented</p>
    <h4>Meet The Team</h4>
    <p>#Add images, names, social media handles</p>
    <h4>Credits</h4>
    <p>#Add credits</p>
    <h4>Code</h4>
    <p>#Add repo link</p>
{% endblock %}