<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  {% block head %} {% endblock %}
  <style>
    {% block css %} {% endblock %}
  </style>
</head>
<body>
  <div class="container">
      <div class="header">
        <div class="navbar navbar-inverse my-nav" role="navigation"> 
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Neural Art</a>
          </div>
      
          <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
              <li><a href="/">Home</a></li>
              <li><a href="/about">About</a></li>
              <li><a href="/stylize">Stylize</a></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Resources <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="https://arxiv.org/abs/1508.06576">Research Paper</a></li>
                  <li><a href="https://www.tensorflow.org/tutorials/generative/style_transfer">Tenser Flow</a></li>
                  <li><a href="https://gitlab.com/vaseem_naazleen_shaik/neural-style-transfer">Our GitLab Repo</a></li>
                </ul>
              </li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
        {% block carousel%} {% endblock %}
      </div>

     {% block body %} {% endblock %}
  </div>
	
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

</body>
</html>