{% extends 'base.html' %}

{% block head %}
<title>Neural Art</title>
{% endblock %}

{% block body %} 
<h1>Welcome to Neural Art!</h1>
 <main role="main">
    <div class="jumbotron" style="background-color: pink;">
      <div class="col-sm-8 mx-auto">
        <h1>STYLIZE YOUR IMAGES</h1>
        <p>Covert your images into your favourite artists Artwork!</p>
        <p>
          <a class="btn btn-primary" href="/stylize" role="button">Click Here &raquo;</a>
        </p>
      </div>
    </div>
  </main>
{% endblock %}