{% extends 'base.html' %}

{% block title %} Stylize {% endblock %}

{% block css %}

    
    .sidenav {
        width: 180px;
        position: fixed;
        z-index: 1;
        margin: 15px;
        border-radius: 8px;
        background: #343a40;
        overflow-x: hidden;
    }

    .sidenav button {
        padding: 6px 8px 6px 16px;
        text-decoration: none;
        font-size: 17px;
        background-color: #343a40;
        color: grey;
        display: block;
        outline: none;
        border: none;
        width: 180px;
    }

    .sidenav button:hover {
        color: #FFF;
        border-left: 4px solid #b4aa11;
    }

    .submit-btn {
        background: linear-gradient(180deg,#f1e41c,#b4aa11);;
    }

    .submit-btn:hover {
        opacity: 1 !important;
        box-shadow: 0 5px 15px rgba(81,113,144,.4);
    }

    .pic-box {
        position: fixed;
        z-index: 1;
        margin-top: 15px;
        margin-left: 210px;
        border-radius: 8px;
        background: #343a40;
        overflow-x: hidden;
        padding: 8px 0;
        color: #FFF;
    }

    .box-text {
        margin: 40px;
    }

{% endblock %}

{% block fullwidth %}

 <div class="container-fluid">
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                  <a class="navbar-brand" href="/">Neural Art</a>
                  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav ml-auto">
                      <a class="nav-item nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                      <a class="nav-item nav-link" href="/about">About</a>
                      <a class="nav-item nav-link active" href="/stylize">Stylize</a>
                      <div class="nav-item dropdown">
                          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Resources
                          </a>
                          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="https://arxiv.org/abs/1508.06576">Research Paper</a>
                            <a class="dropdown-item" href="https://www.tensorflow.org/tutorials/generative/style_transfer">Tenser Flow</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="https://gitlab.com/vaseem_naazleen_shaik/neural-style-transfer">GitLab Repo</a>
                          </div>
                        </div>
                  </div>
                  </div>
              </nav>
</div>

    <div class="sidenav">
        <form action="/uploader" method="POST" enctype="multipart/form-data">       
            <button  onclick="document.getElementById('contentFile').click()">Content Image</button>
                <input type="file" name="contentFile" id="contentFile" style="display: none;">
            <button  onclick="document.getElementById('styleFile').click()">Style Image</button>
                <input type="file" name="styleFile" id="styleFile" style="display: none;">
            <button type="button" class="btn btn-primary submit-btn" onclick="document.getElementById('submitFiles').click()">Submit</button>
                <!--<input type="submit" value="Upload Image" name="submit" id="submitFiles">  -->         
        </form>
    </div>
    
    <div class="pic-box">
        <div class="box-text">
            <h2>Welcome to Neural Art Photo Editor</h2>
            <br>
            <p>
                Choose content and style image
            </p>
        </div>
    </div>

{% endblock %}

{% block script %}
    document.body.style.backgroundColor = "#23262a";
{% endblock %}