<!DOCTYPE html>
<html>
<head>
    <title>Neural Art</title>
    <link rel="stylesheet" type = "text/css" href = "{{ url_for('static', filename = 'style.css')}}">
</head>
<body>
	<header>
		<div class = "main">
			<div class="logo">
				<img src="/static/logo.png" alt = "NEURAL ART">
			</div>
			<ul>
				<li class="active"><a href="#">Home</a></li>
				<li><a href="#">About</a></li>
				<li><a href="#">Stylize</a></li>
			</ul>
		</div>
		<div class="title">
			<h1>STYLIZE YOUR PICTURES</h1>
		</div>
		<div class = "button">
          <a href="#" class = "btn">CLICK HERE</a>
		</div>
	</header>

	<h1>{{'\t\t\t'}}WELCOME TO NEURAL ART {{'\t\t\t'}}</h1>
	</body>
</html>